.navigation ul {
  display: inline;
}

.noDropDown {
  display: inline;
  padding: 0px 0px 0px 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.dropDown {
	display: inline-block;
  position: relative;
  padding: 0px 0px 0px 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.dropDown li {
	display: inline-block;

}
.dropMenu {
  display: none;
	color: white;
	width: 275px;
	flex-direction: column;
	background: black;
  position: absolute;
	left: 0px;
	z-index: 3;
}
.dropMenuItem {
	text-align: left;
	padding: 4px;
	padding-left: 15px;
	font-size: 15px;
}
.dropDown:hover .dropMenu {
	cursor: pointer;
	padding-top: 5px;
	top: 17px;
	display: flex;
	flex-direction: column;
}
.dropDown:hover  {
	margin-bottom: 0px;
	background-color: black;
	color: white;
}

@media (max-width: 1080px) {
  .navigation {
    padding-left: 0;
  }

  .navigation ul {
    display: inline;
    padding-left: 0px;
    margin: 0px;
  }

  .dropDown,
  .noDropDown {
    display: inline;
    padding: 0px 7px 0px 7px;
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .navigation {
    padding-bottom: 8px;
  }
}
