.navigation ul {
  display: inline;
}
.navigation li {
}

.navigation a {
  color: black;
}

.noDropDown {
  display: inline;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.dropDown {
  display: inline-block;
  padding: 0px 10px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.dropDown li {
  display: inline-block;
}
.dropMenu {
  display: none;
  color: white;
  width: 275px;
  flex-direction: column;
  background: black;
  position: absolute;
  left: 0px;
  z-index: 3;
}
.dropMenu a {
  color: white;
}
.dropMenuItem {
  color: white;
  text-align: left;
  padding: 4px;
  padding-left: 15px;
  font-size: 15px;
}
.dropMenuItem a {
  color: white;
}
.dropDown:hover .dropMenu {
  cursor: pointer;
  padding-top: 5px;
  top: 17px;
  display: flex;
  flex-direction: column;
}

.dropDown:hover {
  color: grey;
}
.dropMenuItem:hover .navigation li {
  color: grey;
}

@media (max-width: 1080px) {
  .navigation {
    padding-left: 0;
  }

  .navigation ul {
    display: inline;
    padding-left: 0px;
    margin: 0px;
  }

  .dropDown,
  .noDropDown {
    display: inline;
    margin: 0px;
  }
}
@media (max-width: 600px) {
	.navigation {
		padding-bottom: 8px;
  }
  .dropDown,
  .noDropDown {
		padding: 0px 4px;
    font-size: 14px;
  }
}
