.ourServices {
  padding-bottom: 40px;
}
.serviceCards {
  display: flex;
  justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.serviceCards a {
	text-decoration: none;
	color: white;
}

.serviceCards a:visited {
	color: white;
}

.serviceCards a:hover {
	color: rgb(106, 231, 240);
}
.servicesInner {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.serviceCard {
	align-self: stretch;
	width: 25%;
	width: 250px;
}
.serviceCardBody {
  background-color: white;
  padding: 20px 0;
}
.iconSection {
  height: 45px;
  background-color: none;
  display: flex;
  justify-content: center;
}

.serviceIcon {
  background-color: rgb(22, 205, 255);
  height: 70px;
  width: 70px;
  border-radius: 35px;
	display: flex;
	justify-content:center;
	align-items: center;
}

.button {
	width: 100px;
	margin: auto;
	padding: 8px;
	text-align: center;
	background:rgb(0, 52, 82);
	border-radius: 5px;
}

