p {
  margin: auto;
  width: 85%;
  padding-bottom: 15px;
  margin: 10px auto 15px auto;
}

.headerUnderline {
  border-bottom: 2px solid black;
  background-color: yellow;
}

.pseudo_border {
  position: relative;
  display: block;
}
.pseudo_border:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0px auto;
  padding: 0;
  width: 60%;
  height: 5px;
  background: black;
  border-radius: 5px;
}
