p {
  margin: auto;
  width: 85%;
  padding-bottom: 15px;
  margin: 10px auto 15px auto;
}

.headerUnderline {
  border-bottom: 2px solid black;
  background-color: yellow;
}

.pseudo_border_green {
  position: relative;
  display: block;
}
.pseudo_border_green:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0px auto;
  padding: 0;
  width: 80%;
  height: 3px;
  background: rgb(0, 229, 245);
  border-radius: 5px;
}
.pseudo_border {
  position: relative;
  display: block;
}
.pseudo_border:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0px auto;
  padding: 0;
  width: 60%;
  height: 5px;
  background: black;
  border-radius: 5px;
}
.pseudo_border_small {
  position: relative;
  display: block;
}
.pseudo_border_small:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 5px auto 0px 25px;
  top: 100%;
  padding: 0;
  width: 70%;
  height: 2px;
  background: rgb(0, 229, 245);
  border-radius: 5px;
}
.pseudo_border_small_center {
  position: relative;
  display: block;
}
.pseudo_border_small_center:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0px auto;
  padding: 0;
  width: 70%;
  height: 2px;
  background: rgb(0, 229, 245);
  border-radius: 5px;
}
