.main {
  display: flex;
  width: 75%;
  margin: 35px auto;
	padding: 0;
}

.main h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}
.main p {
  padding-right: 50px;
	font-size: 18px;
}

.main img {
	margin: 0;
  height: 300px;
}

.mainTagLine {
		text-align: center;
		margin: 0 0 10px 0;
		font-size: 25px;
		font-weight: bold;
}
.pseudoBorder {
  position: relative;
  display: block;
}
.pseudoBorder:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0px auto;
  padding: 0;
  width: 60%;
  height: 5px;
  background: black;
  border-radius: 5px;
}


@media only screen and (max-width: 700px) {
  .main {
    width: 95%;
    flex-direction: column-reverse;
		margin-bottom: 0px;
  }

	.pseudoBorder {
		margin: 0;
		padding: 10px 0 0 0;
		font-size: 25px;
	}
  img {
    align-self: center;
  }

	.main img {
		height: 200px;
	}

	.main p {
		padding: 20px 0px 0 0;
		font-size: 15px;
	}
}
