.sideBySide {
  margin: 5% auto;
  width: 80%;
  display: flex;
	padding: 0;
	gap: 5%;
}
.h1Section {
	display: inline-block;
height: auto;
background: green;
	margin: 0px;
	padding: 0px;
}
.darkBackground {
  font-size: 18px;
	margin: auto;
	padding: 15px;
	width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.desktopImg {
	width: 70%;
}

h1 {
  padding-top: 0px;
	margin-top: 0px;
}
.mobileImg {
  display: none;
}
.repairProcess {
  background-color: white;
  padding: 0 10%;
}
.repairProcess h3 {
  font-weight: bold;
  text-align: left;
  padding: 0px 25px 0px 70px;
}

.repairProcess li {
  box-shadow: rgba(104, 104, 104, 0.6) 1px 1px 6px;
  margin-left: 0px;
  margin-bottom: 25px;
}

.repairProcess ol {
  counter-reset: item;
  list-style-type: none;
}

.repairProcess li {
  position: relative;
  padding-top: 5px;
}
.repairProcess li:before {
  box-shadow: rgba(104, 104, 104, 0.6) 1px 1px 6px;
  font-size: 20px;
  line-height: 75px;
  position: absolute;
  color: black;
  content: counter(item);
  counter-increment: item;
  background-color: rgb(22, 205, 255);
  border-radius: 50%;
  text-align: center;
  left: -20px;
  top: -20px;
  width: 75px;
  height: 75px;
}


@media only screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 35px;
  }
  .sideBySide {
		width: 100%;
    flex-direction: column;
		align-items: center;
  }
	.darkBackground {
		width: 90%;
	}
	.sideBySide h2 {
		margin-top: 0px;
		font-size: 30px;
	}
  .mobileCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobileImg {
    display: block;
    height: auto;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .desktopImg {
    display: none;
  }
  .repairProcess {
    padding: 0 5% 0 0;
  }
  .repairProcess li {
    margin-left: 0;
  }
}
@media only screen and (max-width: 500px) {

	.sideBySide {
		width: 100%;
	}
}

.fadeText {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
