.heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto 0px auto;
}

.selectPhone {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .heading {
		font-size: 25px;
    margin: 15px auto 5px auto;
  }
}
