.locationsMain {
	width: 90%;
	margin: auto;
	padding: 20px;
}

.locationsMain h3 {
	font-size: 40px;
	margin: auto;
	text-align: center;
}

.locationsMain a {
	text-decoration: none;
	color: black;
}

.locsDiv {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.locCard {
	font-weight: bold;
	margin: 15px;
	padding: 10px 15px;
  background: #0098ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
}


.locCard:hover {
	opacity: .9;
  background: rgb(22, 205, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
}

@media (max-width: 600px) {
	.locCard {
		margin: 7px;
		padding: 5px 10px;
	}
}
@media (max-width: 450px) {
	.locationsMain h3 {
		font-size: 25px;
	}
}